--find-links https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html
paddlepaddle-gpu>=2.6.1
paddleocr==2.8.1
opencv-python>=4.10.0
numpy<2.0.0
Pillow>=10.0.0
pyzbar>=0.1.9
tkinterdnd2>=0.4.2
watchdog>=4.0.0
pywin32>=306
onnxruntime
openvino
paddle2onnx==1.0.9