--find-links https://www.paddlepaddle.org.cn/whl/windows/mkl/avx/stable.html
paddlepaddle-gpu==2.6.1.post120
paddleocr==2.8.1
opencv-python>=4.10.0
numpy>=1.26.0
Pillow>=10.0.0
pyzbar>=0.1.9
tkinterdnd2>=0.4.2
